.glyphicon{ font-size: 20px;padding-left: 10px; padding-top:0; display: inline-block}
.btn-primary {font-size: 20px;}
.dropdown {padding:15px 45px;}
.dropdown-toggle {font-size: 1.3em;}
.dropdown-menu {height: 200px}
.dropdown-menu li {margin: 2em;}

#jdev {margin-bottom: 6em; margin-left: -15px;}
#mepic {max-height: 200px;height: 100%;max-width: 600px;width:100%;}
.seeProj {border-top: 5px solid #000;}
.aboutSection {text-align: center;padding-top: 1em;margin-bottom: 10em;}
#about {margin-top: 200px;}
.aboutSection p{font-size: 1.4em; line-height: 1.6em;}
#pic {float:left;margin:1em}
.top {margin-top: 2em;}
.banner img {left:0; width: 100%;min-height: 150px;}
.Social-link {text-align: center;}

ul {padding-left: 0}

ul img {background: #000;text-align: center;padding: 3px; border-radius: 1em;}
ul #th img{background: none; padding: 0;border: 10px #000 solid;}
.Social-link li {list-style: none;display: inline-block;margin:3em 6px 0 6px}
.botTreeLink img {background: none;margin-left: -20px;}
img {margin-left: 0;}
.wrap {padding: 5px 20px;text-align: center;}
.wrap .col-md-4 {margin-top: 2em;}
.wrap p {margin: 1em}
.last {margin-bottom: 6em;}

/* Form.html CSS, just copy and paste any where in your style.css file, or customize to fit with your domain */
form.contact p {
font-size: 15px;
padding: 0 0 15px 0;
margin: 0;
}

form.contact input, form.contact textarea {
font-family: Arial;
font-size: 15px;
margin: 0 0 20px 0;
}

form.contact textarea {
background: #f5f5f5;
padding: 5px;
border: 1px solid #bbb;
border-radius: 15px;
width: 400px;
height: 150px;
}

form.contact input {
background: #f5f5f5;
padding: 5px;
border: 1px solid #bbb;
border-radius: 15px;
}

form.contact input.send {
color: #fff;
background: #222;
border: #222;
padding: 10px 25px 10px 25px;
cursor: pointer;
}
/* End form.html's CSS */
